<div ng-controller="productDevide">
	<div class="pt20">
		<span>分销商：</span>
		<input type="radio" name="private" ng-click="changePrivate(1)" checked="checked" />公开
		<input type="radio" name="private" ng-click="changePrivate(0)" />私有
	</div>
	<div class="pt20" ng-show="isopen">
		<table>
			<thead>
				<tr>
					<td class="w150">分销店名称</td>
					<!--<td class="w190">加入时间</td>-->
					<td class="w130">
						在售商品数
						<img style="width: 6px;" src="../../../img/down.png" class="descImg" ng-click="descFun('productCount1')" ng-show="productDown1" />
						<img style="width: 6px;" src="../../../img/up.png" class="descImg" ng-click="descFun('productCount1')" ng-show="!productDown1" />
					</td>

					<td class="w150">
						近30天销量
						<img style="width: 6px;" src="../../../img/down.png" class="descImg" ng-click="descFun('productSale1')" ng-show="saleDown1" />
						<img style="width: 6px;" src="../../../img/up.png" class="descImg" ng-click="descFun('productSale1')" ng-show="!saleDown1" /></td>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="provider in providers">
					<td>{{provider.shopName}}</td>
					<!--<td>{{provider.joinedTime}}</td>-->
					<td>{{provider.salingCount}}</td>
					<td>{{provider.monthlySaleCount}}</td>
				</tr>
			</tbody>
		</table>
		<div class="pt10" style="height: 84px;">
			<tm-pagination conf="paginationConf"></tm-pagination>
		</div>
	</div>
	<div class="pt20" ng-show="!isopen">
		<table>
			<thead>
				<tr>
					<td class="w150">分销店名称</td>
					<!--<td class="w190">加入时间</td>-->
					<td class="w130">在售商品数<img style="width: 6px;" src="../../../img/down.png" class="descImg" ng-click="descFun('productCount2')" ng-show="productDown2" />
						<img style="width: 6px;" src="../../../img/up.png" class="descImg" ng-click="descFun('productCount2')" ng-show="!productDown2" /></td>

					<td class="w150">近30天销量<img style="width: 6px;" src="../../../img/down.png" class="descImg" ng-click="descFun('productSale2')" ng-show="saleDown2" />
						<img style="width: 6px;" src="../../../img/up.png" class="descImg" ng-click="descFun('productSale2')" ng-show="!saleDown2" /></td>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="privateData in privateDatas">
					<td>{{privateData.shopName}}</td>
					<!--<td>{{privateData.joinedTime}}</td>-->
					<td>{{privateData.salingCount}}</td>
					<td>{{privateData.monthlySaleCount}}</td>
				</tr>
			</tbody>
		</table>
		<div class="pt10" style="height: 84px;">
			<tm-pagination conf="privatepaginationConf"></tm-pagination>
		</div>
	</div>
</div>